<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/stylesheet.css">
	<title>About</title>
</head>
<body class="about">
<div>
	<p class="title">The B Boutique</p>
	
</div>
<div class="cont"><br>
<p class="para">
	Every one of us tends to look attractive. Appearance is the first impression you convey to others. The major factor that contributes to the attractive appearance is clothing. We  provide  you  the  best  quality  cloths  with  super  cool  designs not  only  us  even  you  can  design  your  wears  and  send  design  to  us  ,we  design  accordingly  and  we  assure that we  will  give  you a  satisfactory  service .Wear the best everyday  by  choosing  the  dress  waiting  for  you. New Clothes gives  you New Passion and  always wear the best.Clothes are the spirit of Fashion which make you shine,Imagine the next level of Fashion by experiencing our service .Clothes for your best moments.Boost your Style Sense.Wear and set trends,and make people fall in love with your clothes,buy clothes and fill slots as the clothes for satisfied souls.Choose happiness, choose clothes,Choose us. #thebboutique
</p>
<p class="cont">Email :bboutique1@gmail.com<br>
Contact :6951115251</p><br>
<a href="home.html">Back</a><br><br>
</div>
</body>
</html>