<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/stylesheet.css">
	<title>Home</title>
	<style>
		body{
	background-image: url("../static/img/bestwomenapparels-fashion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
	</style>
</head>
<body class="homeimg">
	<div class="title">
		The B Boutique
	</div>
<form class="login">
<button formaction="register.html" class="btn">Register</button><br><br>
<button formaction="login.html" class="btn">Login</button><br><br>
<button formaction="about.html" class="btn">About</button><br><br>
</form>

</body>
</html>