<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/stylesheet.css">
	<title>Login</title>
	<style>
		.login{
	background-image: url("../static/img/image.jpg");
    background-repeat: no-repeat;
		}
	</style>
	
</head>
<body >

<div class="log">
 <form>
 	<label class="label">Username:</label>
	<input type="text" required><br><br><br>
	<label class="label">Password:</label>
	<input type="text" required><br><br>
	
	<button class="btn1" type="submit" formaction="Resume.pdf">Login</button><br><br><br>
	<label class="label">Don't have an account?</label><br>
	<a class="label" href="register.html">Register Here</a>
 </div>
 </form>
</body>
</html>